/* General Styles for elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F4F6;
    color: #2D3142;
}

main,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1,
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

button {
    background-color: #FFFFFF;
    border: 2px solid #2D3142;
    height: 50px;
    width: 150px;
    /* Default button max width + height */
    max-height: 50px;
    max-width: 150px;
    color: #2D3142;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-duration: 0.25s;
    touch-action: manipulation; /* Overrides default mobile gestures such as double-tap-to-zoom and pinch-zoom */
    font-size: clamp(1rem, 1.3vw, 1rem);
}

/* Custom styling when user hovers on element */
button:hover {
    background-color: #eaeaea;
}

/* Classes for static elements */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-with-frame {
    display: flex; /* turns container into a flexbox (enables flex layout) */
    flex-direction: row; /* sets main axis to the horizontal axis */
    align-items: center; /* aligns all child items vertically (on the cross axis, the axis that is not the main axis) */
    justify-content: center; /* aligns all child items horizontally (on the main axis) */
    width: 100%;
    height: 420px;
}

/* Classes (previously) for dynamic states (well not anymore as I am using templates) */
.to-do-list-frame {
    height: 95%;
    max-height: 370px;
    width: 23%;
    max-width: 300px;
    background-color: #D8D5DB;
    margin: 1%;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.to-do-list-frame:hover {
    margin-bottom: 1.2rem;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 65%;
    border: 2px solid #2D3142;
    border-radius: 2px;
    overflow-y: auto; /* Enables vertical scrolling when there are many tasks */
    gap: 0.75rem;
    box-sizing: border-box;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.list-title {
    margin-top: 3%;
    margin-bottom: 0.5%;
    font-size: 2rem;
    text-align: center;
    transition-duration: 0.5s;  /* This is just to make it look good while resizing in inspect lol */
    font-weight: bold;
    width: 90%;
}

.task-title {
    margin-top: 1%;
     /* Resizes text size to fit reasonably on different screen sizes - This is the same for every clamp() */
    font-size: clamp(1.2rem, 2.1vw, 1.6rem);
}

.add-task-button {
    margin: 8%;
    margin-right: 4%;
    background-color: #B0D7FF;
    width: 50%;
    height: 55%;
    font-size: clamp(0.7rem, 1.3vw, 0.9rem);
}

.add-task-button:hover {
    background-color: #89b9ea;
}

.buttons-container {
    height: 35%;
    /* Debug */
    /* background-color: #89b9ea; */
}

.delete-list-button {
    margin: 8%;
    margin-left: 4%;
    background-color: rgb(251, 137, 137);
    /* This button does not follow palette but follows conventions (delete button should be red) */
    width: 50%;
    height: 55%;
    font-size: clamp(0.7rem, 1.3vw, 0.9rem);
}

.delete-list-button:hover {
    background-color: rgb(228, 112, 112);
}

.task-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* min-height: 50px; */
    background-color: #EAE8FF;
    border-radius: 10px;
}

.task-text-container {
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: center;
}

.task-text {
    width: 100%;
    margin-left: 8px;
    font-size: clamp(1rem, 1.8vw, 1.2rem);
}

.task-delete-button-container {
    width: 23%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.delete-task-button {
    aspect-ratio: 1 / 1; /* Ensures button stays square */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 137, 137);
    width: 50%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    border-width: 1px;
    margin-left: 20%;
    font-size: clamp(0.8rem, 1.3vw, 1rem);
}


.delete-task-button:hover {
    background-color: rgb(228, 112, 112);
}

/* Classes for Dynamic States */

/* Fixes the create list button to the bottom of the screen. */
.stuck {
    position: fixed;
    bottom: 2%;
    z-index: 1000;
}

/* Static ids */
/* #about-text {
    text-align: center;
    width: 90%;
} */

/* Styles placeholder text */
[contenteditable]:empty:before {
  content: attr(data-placeholder-text);
  color: #aaa;
  pointer-events: none;
}


/* Media Queries (for changing layouts on different devices e.g., tablet, mobile) */

/* Arranges two to-do lists per row. */
@media (max-width: 900px) {
    .container-with-frame {
        flex-wrap: wrap;
    }

    .container-with-frame>* {
        width: 45%;
        margin: 1rem;
        height: 840px;
    }
}

/* Arranges one to-do lists per row. */
@media (max-width: 670px) {
    .container-with-frame {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .container-with-frame>* {
        width: 300px;
        max-width: 300px;
        margin: 0.5rem auto;
    }

    .to-do-list-frame:hover {
        margin-bottom: 1.4% !important;
        box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    }
}

/* Makes the to-do lists shrink in width as the screen width decreases so the to-do lists don't overflow horizontally. */
@media (max-width: 480px) {
    .container-with-frame>* {
        width: 80%;
        max-width: 300px;
        margin: 0.5rem auto;
    }

    .list-title {
        font-size: 1.75rem;
    }
}

@media (max-width: 420px) {
    .list-title {
        font-size: 1.5rem;
    }
}

